<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .navbar-brand {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark text-center">
        <a class="navbar-brand" href="#">
            <img src="~/Content/img/logo.png" alt="Alternate Text" />
        </a>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>