
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="container-fluid">
    <h1></h1>
</div>
<div class="container-fluid">
    <a class="btn btn-outline-primary btn-lg" href="~/Admin/Index">Home</a>
    <a class="btn btn-outline-primary btn-lg" href="~/Admin/Faculty">Manage Faculty</a>
    <a class="btn btn-outline-primary btn-lg" href="~/Admin/Class">Manage Classes</a>
    <a class="btn btn-outline-primary btn-lg" href="~/Admin/Student">Manage Students</a>
    <a class="btn float-lg-end btn-outline-danger btn-lg" href="~/Admin/Logout">Logout</a>
</div>
@if (TempData["notification"] != null)
{
    <script type="text/javascript">
         window.onload = function () {@Html.Raw(TempData["notification"].ToString());};
    </script>
}